- const jpg1x = require('Images/card-issued/bus-1x.jpg');
- const jpg2x = require('Images/card-issued/bus-2x.jpg');
- const webp1x = require('Images/card-issued/bus-1x.webp');
- const webp2x = require('Images/card-issued/bus-2x.webp');

article.card-issued
  picture.card-issued__image
    source(srcset=`${webp1x} 1x, ${webp2x} 2x` type='image/webp')
    source(srcset=`${jpg1x} 1x, ${jpg2x} 2x` type='image/jpg')
    img(alt='Bus' src=require('Images/card-issued/bus-1x.jpg'))
  .card-issued__text
    .card-issued__numbers
      span 22
      span 11
      span 4500000
      span ₽
    h4 МИЗГИРЕВАА-В01
    p Регулярные перевозки пассажиров автобусами в городском и пригородном сообщении
  span.card-issued__date 06.10.2023
