- const leftPNG1x = require('Images/credit-cards/card-left-1x.png');
- const leftPNG2x = require('Images/credit-cards/card-left-2x.png');
- const leftWebp1x = require('Images/credit-cards/card-left-1x.webp');
- const leftWebp2x = require('Images/credit-cards/card-left-2x.webp');

- const rightPNG1x = require('Images/credit-cards/card-right-1x.png');
- const rightPNG2x = require('Images/credit-cards/card-right-2x.png');
- const rightWebp1x = require('Images/credit-cards/card-right-1x.webp');
- const rightWebp2x = require('Images/credit-cards/card-right-2x.webp');

section.section.about-platform
  .container
    .section__wrapper.about-platform__wrapper
      h2 О платформе
      p Мы создали эту платформу с целью сделать процесс получения кредита быстрым, простым и удобным для вас, без скрытых комиссий от банка.
      .about-platform__circle
        picture.about-platform__card.about-platform__card_left
          source(srcset=`${leftWebp1x} 1x, ${leftWebp2x} 2x` type='image/webp')
          source(srcset=`${leftPNG1x} 1x, ${leftPNG2x} 2x` type='image/jpg')
          img(alt='Credit card' src=require('Images/credit-cards/card-left-1x.png'))
        picture.about-platform__card.about-platform__card_right
          source(srcset=`${rightWebp1x} 1x, ${rightWebp2x} 2x` type='image/webp')
          source(srcset=`${rightPNG1x} 1x, ${rightPNG2x} 2x` type='image/jpg')
          img(alt='Credit card' src=require('Images/credit-cards/card-right-1x.png'))

