mixin work-steps(stepsList, title)
  .container
    .section-wrapper
      if title
        h2.section-title= title
      .content-wrapper
        .steps-form-container
          .steps-container
            each step, index in stepsList
              .step-box(class=step.colorClass)
                span.step-number=index + 1
                .step-content
                  h3.step-title= step.title
                  p.step-description= step.description

          include Components/create-request/create-request.pug

